body{
	background-color:#212121;
}

.title{
	background-color: #364394;
	color: white;
}

.placar{
    margin-top: 0px;
	background-color: #364394;
	color: white;
}

.container{
	background-color: #33CDAD;

}

.oJogo{
    width: 100%;
}

.espaco{
	float: left;
	margin-bottom: 3%;
}
.espaco p{
	border-radius: 5px;
    background-color:#212121;
}

.espacosJogo{
    margin: auto;
}

div.espacosJogo div.col-lg-4.col-md-4.col-sm-4.col-xs-4{
  padding: 5px;
  margin: 0px;
}

.nomes{
    margin-bottom: 10px;
}