.container {
    padding: 10px;
    background-color: #F7F7F7;
    padding-bottom: 99999px;
    margin-bottom: -99999px;
}

.row {
    margin: 0 !important;
    padding-left: 10%;
    padding-right: 10%;
}

.card-panel {
    height: 100px;
    padding: 0px !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 30% !important;
    text-align: center;
    background-color: #22C0E3 !important;
    font-size: 5em;
}

.card-panel:hover{
    cursor: pointer;
}

input[type=button]{
    width:150px;
    height:50px;
    font-size:20px;
    font-weight:bold;
    margin-bottom:20px
}

h1{
    text-align: center;
}

label{
    font-size: 200% !important;
    color: black !important;
}

body{
    background-color: #494952 !important;
}
    