$cor1: #F2EB88;
table{
    align: center;
    border-collapse: separate;
    border-spacing: 10px;
}
#title{
    background-color: $cor1;
    padding: 10px;
}
.jogo{
    margin: auto;
}
form{
    padding: 30px;
    margin-left: 35%;
}
@for $i from 0 to 3{
    .linha-#{$i}{
        height: 100px;
        width: 100px;
        background-color: gray;
    }
}
.j1{
        height: 100px;
        width: 100px;
        background-color: gray;
}
.j2{
        height: 100px;
        width: 100px;
        background-color: gray;
}
h2,h3{
    text-align: center;
}